@import "tailwindcss";

:root {
  --background: #ffffff; /* Define un color de fondo predeterminado */
  --foreground: #000000; /* Define un color de primer plano predeterminado */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Arial', sans-serif; /* Define una fuente predeterminada */
  --font-mono: 'Courier New', monospace; /* Define una fuente monoespaciada predeterminada */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000; /* Define un color de fondo para el modo oscuro */
    --foreground: #ffffff; /* Define un color de primer plano para el modo oscuro */
  }
}

.text-blue-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(38 50 56/var(--tw-text-opacity));
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.fadeEffect {
  animation: fade-in-up 0.5s ease-in-out;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}